* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #1a1a1a;
  color: #fff;
  min-block-size: 100vh;
}
.container {
  inline-size: 100%;
  max-inline-size: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-bar {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(129, 127, 127, 0.2);
  box-shadow: 0 -3px 15px rgb(249 238 238 / 40%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 4px 12px;
}

.header {
  inline-size: 100%;
  padding: 15px 0;
  position: relative;
  z-index: 10;
  background-image: url("./images/خلفية.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-svg-container {
  inline-size: 42px;
  block-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-svg {
  inline-size: 90%;
  block-size: 69px;
  margin-inline-start: 3px;
  margin-block-end: 6px;
}
.qawem {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Reem Kufi", sans-serif;
}
.nav-center {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex: 1;
}
.nav-center a {
  font-family: "Actor", sans-serif;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 22px;
  transition: color 0.3s;
}
.nav-center a:hover {
  color: #00c8ff;
}
.start-container {
  display: flex;
  align-items: center;
}
.start-btn {
  font-family: "Actor", sans-serif;
  background: linear-gradient(to bottom, #d85c1a, #93380f);
  color: #fff !important;
  padding: 12px 36px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: inset 0 3px 4px rgb(255 255 255 / 40%),
    inset 0 -2px 4px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.start-btn:hover {
  background: linear-gradient(to bottom, #e0671f);
  box-shadow: inset 0 -4px 2px rgb(255 255 255 / 30%),
    inset 0 -2px 4px rgba(0, 0, 0, 0.6);
}
